/* Webfont: Rubrik-LightItalic */
@font-face {
    font-family: 'RubrikLt';
    font-style: 'italic';
    font-weight: 'normal';
    src: url('Rubrik-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Rubrik-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Rubrik-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Rubrik-LightItalic.svg#Rubrik-LightItalic') format('svg'), /* Legacy iOS */
         url('Rubrik-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

